body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
         position: fixed;
         top: 0px;
}

#titulo {
      
}

#licoes_aprendidas {

}

#licoes_a_aprender {

}

.artigo {
max-width: 80%;
margin: 30px 10px;
}

.ladoesquerdo {
float: left;
max-width: 40%;
display: inline-block;
}

.tabela {
margin: 35px 10px;
padding-top: 45px;
}

#rodape {

}